streamlit
plotly
numpy
opencv-python-headless
librosa
pandas
scipy
matplotlib
scikit-learn
soundfile
ffmpeg-python
torch
torchaudio
torchvision
captum
fastdtw
scenedetect
syncnet-python
python_speech_features
tqdm